.bigText {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #65676D;
}

@media screen and (max-width: 1024px) {
    .bigText {
        font-size: 1.25rem;
    }
}