.posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.post {
    display: flex;
    border: 1px solid black;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(600px - 20px);
    padding: 10px;
}

.post_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
}
.post_header img {
    border-radius: 50%;
    width: 50px;
}

.post_body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.post_body_files {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.post_footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}