.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 20px;
    gap: 20px;
    border-radius: 25px;
    background: white;
}

.student {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    width: calc(100% - 10px);
    gap: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.student img {
    border-radius: 50%;
    width: 35px;
}

@media only screen and (max-width: 600px) {
    .student p{
        font-size: 0.7rem;
    }
}
