.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 30px 0;
}

.footer__left {
    display: flex;
    gap: 60px;
    align-items: center;
}

.footer__right {
    display: flex;
    gap: 60px;
    align-items: center;
}

.footer__svg {
    width: 100px;
}


